.row
	.span12.featured
		.item.square.big
			= image_tag "http://lorempixel.com/output/fashion-q-c-380-368-8.jpg"
			.title
				%h3.left Picture of the day
		.item.square.small
			= image_tag "http://lorempixel.com/output/fashion-q-c-181-181-3.jpg"
			.title 
				%h3.right  60s
		.item.square.small
			= image_tag "http://lorempixel.com/output/fashion-q-c-181-181-10.jpg"
			.title 
				%h3.right  70s
		.item.square.small.right
			= image_tag "http://lorempixel.com/output/fashion-q-c-181-181-3.jpg"
			.title 
				%h3.right  80s
		.item.square.small
			= image_tag "http://lorempixel.com/output/fashion-q-c-181-181-9.jpg"
			.title.top 
				%h3.right  90s
		.item.rectangle.small.right
			= image_tag "http://lorempixel.com/output/fashion-q-c-368-181-6.jpg"
			.title.top 
				%h3.right Today
		.item.rectangle.big
			= image_tag "http://lorempixel.com/output/fashion-q-c-467-181-4.jpg"
			.title 
				%h3.left Product of the day
		.item.rectangle.big.right
			= image_tag "http://lorempixel.com/output/fashion-q-c-467-181-7.jpg"
			.title 
				%h3.right Article of the day
