.row
	.span12.featured
		.item.square.big
			= image_tag "http://lorempixel.com/output/fashion-q-c-380-368-8.jpg"
			.title 
				%h3 Picture of the day
		.item.square.small
			= image_tag "http://placehold.it/181&text=60s"
		.item.square.small
			= image_tag "http://placehold.it/181&text=70s"
		.item.square.small.right
			= image_tag "http://placehold.it/181&text=80s"
		.item.square.small
			= image_tag "http://placehold.it/181&text=90s"
		.item.rectangle.small.right
			= image_tag "http://placehold.it/368x181px&text=Today"
		.item.rectangle.big
			= image_tag "http://placehold.it/467x181px&text=Product+of+the+day"
		.item.rectangle.big.right
			= image_tag "http://placehold.it/467x181px&text=Article+of+the+day"
