.row
	.span12.featured
		.item.square.big
			= link_to (image_tag "cover/1.jpg"), 'categories/1'
			.title
				%h3.left 
					= link_to "Picture of the day", 'categories/1'
		.item.square.small
			= link_to (image_tag "cover/2.jpg"), 'categories/1'
			.title 
				%h3.right
					= link_to "60s", 'categories/1'
		.item.square.small
			= link_to (image_tag "cover/3.jpg"), 'categories/2'
			.title 
				%h3.right
					= link_to "70s", 'categories/2'
		.item.square.small.right
			= link_to (image_tag "cover/4.jpg"), 'categories/3'
			.title 
				%h3.right
					= link_to "80s", 'categories/3'
		.item.square.small
			= link_to (image_tag "cover/5.jpg"), 'categories/4'
			.title.top 
				%h3.right
					= link_to "90s", 'categories/4'
		.item.rectangle.small.right
			= link_to (image_tag "cover/6.jpg"), 'categories/5'
			.title.top 
				%h3.right
					= link_to "Today", 'categories/5'
		.item.rectangle.big
			= link_to (image_tag "cover/7.jpg"), 'categories/2'
			.title 
				%h3.left 
					= link_to "Product of the day", 'categories/5'
		.item.rectangle.big.right
			= link_to (image_tag "cover/8.jpg"), 'categories/2'
			.title 
				%h3.right
					= link_to "Article of the day", 'categories/5'
