.span6
	%article.look
		%header
			= image_tag @look.photo
			.chic-it chic it
		%section
			%h2 Get that look
			%ul.products
				%li
					%aside
						= image_tag "http://placehold.it/80x80&text=Product"
					%div
						%header
							%h3 Summer Dress | 150.00
							%h3.action Add to cart
						%section
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut laoreet dolore magna aliquam erat volutpat. 
				%li
					%aside
						= image_tag "http://placehold.it/80x80&text=Product"
					%div
						%header
							%h3 Summer Dress | 150.00
							%h3.action Add to cart
						%section
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	= render "shared/search"
	= render "shared/thumbs"
.span6
