.row
  .span7
    = render :partial => 'look/article', :locals => {:look => @look}    
    = render :partial => 'look/looks', :locals => {:looks => Look.all.take(5)}
    %section.search
      = render "shared/search"
  .span5
    %section.story
      %h2 The story behind
      = render :partial => 'look/story', :locals => {:look => @look}
    %section.get-look
      %h2 Get that look
      = render :partial => 'look/products', :locals => {:look => @look}